<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="nlog-internal.log">
  
  <targets>
    <!-- 文件日志目标 -->
    <target xsi:type="File" name="fileTarget"
            fileName="logs/app-${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${logger} - ${message} ${exception:format=tostring}"
            archiveFileName="logs/archive/app-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            createDirs="true"
            encoding="utf-8" />
    
    <!-- 控制台日志目标 -->
    <target xsi:type="Console" name="consoleTarget"
            layout="${time} [${uppercase:${level}}] ${message} ${exception:format=tostring}" />
  </targets>
  
  <rules>
    <!-- 所有级别写入文件和控制台 -->
    <logger name="*" minlevel="Debug" writeTo="fileTarget,consoleTarget" />
  </rules>
</nlog>